<%- include("templates/header") %>
<div class="chat-container" onload="scrollToBottom()">
  <div class="chat-history" id="chatHistory">
    <% chatHistory.forEach(message => { %>
    <div class="chat-message <%= message.role %>">
      <div class="message">
        <strong><%= message.role === 'user' ? firstname : 'SchoolScope' %>:</strong> <%= message.content %>
      </div>
    </div>
    <% }) %>
  </div>
  <form action="/chat" method="POST">
    <div class="chat-input">
      <input name="message" type="text" placeholder="Type a message...">
      <button class="btn btn-primary" type="submit">Send</button>
    </div>
  </form>
</div>
<%- include("templates/footer") %>
<script>
  function scrollToBottom() {
    var chatHistory = document.getElementById("chatHistory");
    chatHistory.scrollTop = chatHistory.scrollHeight;
  }

  window.onload = scrollToBottom;
</script>
