<%- include("templates/header") %>
    <br>
    <h2>
        <%= firstName %>'s profile:
    </h2>
    <form action="/updateProfile" method="post">
        <div class="row">
            <div class="col">
                <label>First Name</label>
                <input name="firstname" type="text" class="form-control" placeholder="First name"
                    value="<%= firstName %>" disabled>
            </div>
            <div class="col">
                <label>Last Name</label>
                <input name="lastname" type="text" class="form-control" placeholder="Last name" value="<%= lastName %>"
                    disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Username</label>
                <input name="username" type="text" class="form-control" placeholder="Username"
                    value="<%= userName %>" disabled>
            </div>
            <div class="col">
                <label>Student ID</label>
                <input name="studentid" type="text" class="form-control" placeholder="Student Id" value="<%= studentId %>"
                    disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" value="<%= emailAddress %>" disabled>
        </div>
        <br>
        <button id="edit-button" type="button" class="btn btn-primary">Edit</button>
        <button id="save-button" type="submit" class="btn btn-success" style="display: none;">Save</button>
    </form>
    <script>
        document.getElementById('edit-button').addEventListener('click', function () {
            document.querySelectorAll('input').forEach(function (input) {
                input.disabled = false;
            });
            document.getElementById('edit-button').style.display = 'none';
            document.getElementById('save-button').style.display = 'inline-block';
        });
    </script>
<%- include("templates/footer") %>